/* Light Theme (Default) */
body {
    background-color: rgb(222, 221, 221);
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

/* Dark Theme */
.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

/* Button Styling */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
}
